
.odd{
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
    font-size: 24px;
}

.two{
    color: blue;
    font-size: 36px;
}

.four{
    background-color: #66fc03;
    font-size: 24px;
    font-weight: bold;
}